<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application android:theme="@style/Theme.John.BaseTheme.App">

        <activity
            android:name="io.john6.sample.ui.WebActivity"
            android:configChanges="uiMode|orientation|screenSize|keyboardHidden|keyboard" />
    </application>

</manifest>