<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application android:theme="@style/Theme.John.BaseTheme.App">
        <activity android:name=".FragmentCommunicateActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|keyboard"/>
    </application>
</manifest>